<html>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel ="stylesheets" href= "{{ url_for('static', filename='styles/styles.css') + '?param' }}">
   <body>
      <form action = "/calculate" method = "post" enctype = "multipart/form-data">
      <div class = "form-group">
         <p>Select first Element </p>
        <select name ="dropdown1" class ="dropdown">
        <option value ="h-1">Hydrogen 1 </option>
        <option value ="h-2">Hydrogen 2 </option>
        <option value ="h-3">Hydrogen 3 </option>
        <option value ="he-4">Helium </option>
        <option value ="li-6">Lithium 6 </option>
        <option value ="li-7">Lithium 7 </option>
        <option value ="be-9">Berylium</option>
        <option value ="b-10">Boron 10</option>
        <option value ="b-11">Boron 11 </option>
        <option value ="c-12">Carbon 12 </option>
        <option value ="c-13">Carbon 13 </option>
        <option value ="c-14">Carbon 14 </option>
        <option value ="n-14">Nitrogen 14 </option>
        <option value ="n-15">Nitrogen 15 </option>
         <option value ="n-14">Nitrogen 14 </option> 
        <option value ="o-16">Oxygen 16 </option>
        <option value ="o-17">Oxygen 17 </option>
        <option value="0-18">Oxygen 18 </option>
        <option value ="f-19">Fluorine 19 </option>
        <option value ="ne-20">Neon 20 </option>
        <option value ="ne-21">Neon 21 </option>
        <option value ="na-23">Sodium 23 </option>
        <option value ="mg-24">Magnesium 24 </option>
        <option value ="cl-35">Chlorine 35 </option>
        <option value ="cl-37">Chlorine 37 </option>
        </select>
         <p>Select Second Element </p>
        <select name ="dropdown2" class ="dropdown">
           <option value ="h-1">Hydrogen 1 </option>
        <option value ="h-2">Hydrogen 2 </option>
        <option value ="h-3">Hydrogen 3 </option>
        <option value ="he-4">Helium </option>
        <option value ="li-6">Lithium 6 </option>
        <option value ="li-7">Lithium 7 </option>
        <option value ="be-9">Berylium</option>
        <option value ="b-10">Boron 10</option>
        <option value ="b-11">Boron 11 </option>
        <option value ="c-12">Carbon 12 </option>
        <option value ="c-13">Carbon 13 </option>
        <option value ="c-14">Carbon 14 </option>
        <option value ="n-14">Nitrogen 14 </option>
        <option value ="n-15">Nitrogen 15 </option>
         <option value ="n-14">Nitrogen 14 </option> 
        <option value ="o-16">Oxygen 16 </option>
        <option value ="o-17">Oxygen 17 </option>
        <option value="0-18">Oxygen 18 </option>
        <option value ="f-19">Fluorine 19 </option>
        <option value ="ne-20">Neon 20 </option>
        <option value ="ne-21">Neon 21 </option>
        <option value ="na-23">Sodium 23 </option>
        <option value ="mg-24">Magnesium 24 </option>
        <option value ="cl-35">Chlorine 35 </option>
        <option value ="cl-37">Chlorine 37 </option>
        </select>
         <p>Enter Number of basis function Element:</p>
         <p><input type = "number" class="basis" name = "basisF" /></p>
         <p>Upload your file :</p>
          <input type = "file" class= "upload" name = "file" />
         <p><input type = "submit" value = "submit" /></p>
        </div>
      </form>   
    
      

   </body>
</html>
